/* public/css/admin.css */
:root {
    /* make the backend contents as wide as the browser window */
    --body-max-width: 100%;
    /* change the background color of the <body> */
    --body-bg: #fafafa;
    /* make the base font size smaller */
    --font-size-base: 13px;
    /* remove all border radius to make corners straight */
    --font-size-xxxl: 22px;
}

.datagrid td{
    padding-top: 4px;
    padding-bottom: 4px;
}
