@import "tailwindcss";

@theme {
    --font-sans: "DM Sans", ui-sans-serif, system-ui, sans-serif;

    --color-primary-50: #f0f9ff;
    --color-primary-100: #e0f2fe;
    --color-primary-200: #bae6fd;
    --color-primary-300: #7dd3fc;
    --color-primary-400: #38bdf8;
    --color-primary-500: #0ea5e9;
    --color-primary-600: #0284c7;
    --color-primary-700: #0369a1;
    --color-primary-800: #075985;
    --color-primary-900: #0c4a6e;
    --color-primary-950: #082f49;
}

@layer base {
    html {
        scroll-behavior: smooth;
        color-scheme: light !important;
    }

    body {
        @apply antialiased text-gray-900 bg-gray-50 font-sans;
        font-family: "DM Sans", sans-serif;
    }

    .blue-glow {
        box-shadow: 0 0 15px rgba(59, 130, 246, 0.6), 0 0 30px rgba(59, 130, 246, 0.4);
    }
}

html {
    scroll-behavior: smooth;
}


@layer components {
    .btn {
        @apply inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 transition-all duration-150;
    }

    .btn-primary {
        @apply text-white bg-primary-600 hover:bg-primary-700 focus:ring-primary-500;
    }
}